*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#main{
    width:100vw;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.inner{
    width:80vw;
    background: white;
    height:auto;
    padding:10px;
    border-radius: 4px;

}
.my-form{
    display: flex;
    border:1px solid red;
}

